# 基于哪种已有的代码风格
BasedOnStyle: Google
# 访问修饰符（public, private等）的缩进
AccessModifierOffset: -4
# 开括号后元素如何对齐
AlignAfterOpenBracket: Align
# 连续赋值对齐设置
AlignConsecutiveAssignments: None
# 操作数对齐设置
AlignOperands: Align
# 是否允许所有参数在下一行
AllowAllArgumentsOnNextLine: false
# 是否允许构造函数初始化列表所有项在下一行
AllowAllConstructorInitializersOnNextLine: false
# 是否允许函数声明的所有参数在下一行
AllowAllParametersOfDeclarationOnNextLine: false
# 是否允许短块（如if等）在同一行
AllowShortBlocksOnASingleLine: Always
# 是否允许短的case标签在同一行
AllowShortCaseLabelsOnASingleLine: false
# 是否允许短函数在同一行
AllowShortFunctionsOnASingleLine: All
# 是否允许短if语句在同一行
AllowShortIfStatementsOnASingleLine: Always
# 是否允许短Lambda表达式在同一行
AllowShortLambdasOnASingleLine: All
# 是否允许短循环在同一行
AllowShortLoopsOnASingleLine: true
# 返回类型后面是否总是换行
AlwaysBreakAfterReturnType: None
# 模板声明是否总是换行
AlwaysBreakTemplateDeclarations: Yes
# 在什么情况下换行
BreakBeforeBraces: GNU
# 大括号的相关设置
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: true

# 二元操作符前是否换行
BreakBeforeBinaryOperators: None
# 三元操作符前是否换行
BreakBeforeTernaryOperators: true
# 构造函数初始化列表冒号前是否换行
BreakConstructorInitializers: BeforeColon
# 继承列表冒号前是否换行
BreakInheritanceList: BeforeColon
# 列宽限制
ColumnLimit: 0
# 是否压缩命名空间
CompactNamespaces: false
# 连续缩进宽度
ContinuationIndentWidth: 8
# case标签是否缩进
IndentCaseLabels: true
# 预处理指令的缩进设置
IndentPPDirectives: None
# 缩进宽度
IndentWidth: 4
# 块起始是否保留空行
KeepEmptyLinesAtTheStartOfBlocks: true
# 最多保留几个连续空行
MaxEmptyLinesToKeep: 2
# 命名空间缩进设置
NamespaceIndentation: All
# 其他ObjC特定设置（C++项目中通常不用考虑）
ObjCSpaceAfterProperty: false
ObjCSpaceBeforeProtocolList: true
# 指针对齐设置
PointerAlignment: Right
# 是否重排注释
ReflowComments: false
# C风格强制类型转换后是否有空格
SpaceAfterCStyleCast: true
# 逻辑非操作符后是否有空格
SpaceAfterLogicalNot: false
# 模板关键字后是否有空格
SpaceAfterTemplateKeyword: false
# 赋值操作符前是否有空格
SpaceBeforeAssignmentOperators: true
# 构造函数初始化列表冒号前是否有空格
SpaceBeforeCtorInitializerColon: true
# 继承列表冒号前是否有空格
SpaceBeforeInheritanceColon: true
# 控制语句括号前是否有空格
SpaceBeforeParens: ControlStatements
# 基于范围的for循环冒号前是否有空格
SpaceBeforeRangeBasedForLoopColon: false
# 空括号内是否有空格
SpaceInEmptyParentheses: false
# 末尾注释前是否有空格
SpacesBeforeTrailingComments: 0
# 角括号内是否有空格
SpacesInAngles: false
# C风格的强制类型转换的括号内是否有空格
SpacesInCStyleCastParentheses: false
# 容器字面量（如数组、列表初始化）内是否有空格
SpacesInContainerLiterals: false
# 括号内是否有空格
SpacesInParentheses: false
# 方括号内是否有空格
SpacesInSquareBrackets: false
# 制表符宽度
TabWidth: 4
# 是否使用制表符进行缩进
UseTab: Never